.small {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}
.medium {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
.large {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

@media (max-width: 640px) {
  .medium {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }
  .large {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }
}
