.small {
  opacity: 0.5;
  font-size: 1.125rem; /* 18px */
  line-height: 0%;
}

.normal {
  font-size: 1.875rem; /* 30px */
  line-height: 0%;
}

.large {
  font-size: 4.5rem; /* 72px */
  line-height: 0%;
}
